@font-face {
  font-family: 'BYekan';
  src: url("../fonts/yekan/BYekan.eot?#") format("eot"), url("../fonts/yekan/BYekan.ttf") format("truetype"), url("../fonts/yekan/BYekan.woff") format("woff");
}

.select2.select2-container {
  width: 100% !important;
}

.btn-danger.return-home {
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 10;
}

.g-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.g-right-margin3 {
  margin-right: .3rem;
}

.g-right-margin6 {
  margin-right: .6rem;
}

.g-right-margin9 {
  margin-right: .9rem;
}

.g-left-margin3 {
  margin-left: .3rem;
}

.g-left-margin6 {
  margin-left: .6rem;
}

.g-left-margin9 {
  margin-left: .9rem;
}

.g-auth .card-signup .header {
  padding: 1rem;
}

.g-auth .card-signup .content {
  direction: rtl;
  padding: 0 10px 0 30px;
}

.g-auth .checkbox {
  text-align: center;
}

.g-auth .alert-danger {
  direction: rtl;
  font-size: 15px;
}

.g-auth .checkbox-material {
  direction: ltr;
}

.g-auth .header-filter {
  height: auto !important;
}

.g-auth .header-filter:after {
  background: rgba(255, 133, 133, 0.2);
}

.g-auth .header-success {
  background: -webkit-linear-gradient(30deg, #8c0000, #780000);
  background: linear-gradient(60deg, #8c0000, #780000);
}

.g-auth .g-auth-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.g-auth .g-auth-header img {
  width: 10rem;
}

.g-auth-reset.header-filter {
  min-height: 100vh;
}

.g-auth a.text-muted {
  text-decoration: none;
}

.g-auth-reset .main {
  width: 40%;
  margin: 10rem auto;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.home .header.header-filter {
  min-height: 100vh;
  height: 100%;
}

.home .sharing-area {
  margin-top: 1rem;
}

.home .brand {
  margin-top: 4rem;
}

.home .description {
  margin-top: 1rem;
  text-align: right;
  padding: 1rem;
  direction: rtl;
  color: #000 !important;
  background-color: rgba(255, 255, 255, 0.6);
}

.home .main-nav {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem 0;
}

.home .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ask-participation .header.header-filter {
  height: 100vh;
}

.ask-participation .participation-number {
  display: none;
}

.ask-participation .ask-dialog {
  margin-top: 15rem;
  background-color: white;
  direction: rtl;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.ask-participation .ask-dialog .label-floating .control-label {
  left: initial !important;
}

.ask-participation .ask-dialog .submit-button {
  width: 100%;
}

.ask-participation .ask-dialog .checkbox {
  direction: ltr;
}

.ask-participation .ask-dialog input[type="number"]::-webkit-outer-spin-button,
.ask-participation .ask-dialog input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ask-participation .ask-dialog input[type="number"] {
  -moz-appearance: textfield;
}

.personal .form-dialog {
  margin-bottom: 3rem;
  margin-top: 3rem;
  background-color: white;
  direction: rtl;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.personal .form-dialog .label-floating .control-label {
  left: initial !important;
}

.personal .form-dialog .submit-button {
  width: 100%;
}

.personal .form-dialog .img-rounded {
  max-height: 30rem;
  width: 100%;
}

.content .form-dialog {
  margin-bottom: 3rem;
  margin-top: 3rem;
  background-color: white;
  direction: rtl;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.content .form-dialog .label-floating .control-label {
  left: initial !important;
}

.content .form-dialog .form-group.file,
.content .form-dialog .form-group.picture {
  direction: ltr;
}

.content .form-dialog .form-group.file input,
.content .form-dialog .form-group.picture input {
  direction: rtl;
}

.content .form-dialog .form-group.file .btn-round,
.content .form-dialog .form-group.picture .btn-round {
  border-radius: 30px !important;
}

.content .form-dialog .submit-button {
  width: 100%;
}

.content .list table {
  direction: rtl;
}

.content .list table td,
.content .list table th {
  text-align: right;
}

.content .list table .td-actions .btn {
  margin: 0;
}

.content .list table .td-actions .tooltip-inner {
  font-family: IRANSans !important;
}

.main-nav {
  float: none !important;
}

.home .article-from .art-image img {
  max-width: 20rem;
  padding: .5rem;
  border-radius: 1rem;
  border: 1px #CCCCCC;
}
