<!DOCTYPE html>

<html lang="fa">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/png" href="http://grad.scr12.ir/content/favicon.ico">

    <title>Me In BSc.</title>


    <link rel="stylesheet" href="./assets/css/app.css">
    <link rel="stylesheet" href="./assets/css/demo.css">
    <link rel="stylesheet" href="./assets/css/select2.min.css">
    <link rel="stylesheet" href="./assets/css/material-kit.css">
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/tether.min.css">

    <style>
      body {
        background: url('./assets/img/bcg.jpg') no-repeat fixed;
        background-size: cover;
      }
    </style>

  </head>
  <body>
    <div id="app" class="index-page">
      <div class="container">
        {{ content }}
      </div>
    </div>
  </body>
</html>
