<!DOCTYPE html>

<html lang="fa">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/png" href="http://grad.scr12.ir/content/favicon.ico">

    <title>Me In BSc.</title>


    <link href="./app.css" rel="stylesheet">
    <link rel="stylesheet" href="./CEIT Grad_files/font-awesome.min.css">
    <link rel="stylesheet" href="./CEIT Grad_files/bootstrap.min.css">
    <link rel="stylesheet" href="./CEIT Grad_files/material-kit.css">
    <link href="./CEIT Grad_files/demo.css" rel="stylesheet">
    <link rel="stylesheet" href="./CEIT Grad_files/app.css">
    <link rel="stylesheet" href="./CEIT Grad_files/toastr.css">
    <link rel="stylesheet" href="./CEIT Grad_files/select2.min.css">

    <style>
      body {
        background: url('/img/10.jpg') no-repeat fixed;
        background-size: cover;
      }
    </style>
    <!-- Styles -->



  </head>
  <body>
    <div id="app" class="index-page">
      {{ content }}
    </div>
  </body>
</html>
