<div class="row">
  <div class="col-md-8 offset-md-2 col-sm-12">
    <div class="card text-right">
      <div class="card-header card-header-success">
        <h4 class="card-title" style="direction: rtl;">{{page.title}}</h4>
        <p class="category" style="direction: rtl;">{{page.author}}</p>
      </div>
      <div class="card-body">
        {{content}}
        {% if page.image %}
          <img src="./assets/img/{{page.image}}" alt="img-{{page.image}}" style="width: 100%">
        {% endif %}
        {% if page.video %}
        <iframe height="315" src="{{page.video}}" frameborder="0" style="width: 100%" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
      </div>
    </div>
  </div>
</div>
