<div class="row">
  <div class="col-md-8 offset-md-2 col-sm-12">
    <div class="card card-nav-tabs ">
      <div class="header header-success">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs justify-content-end">
              <li class="nav-item">
                {{page.title}}
              </li>
              <li class="nav-item">
                {{page.author}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="tab-content text-center">
          <div class="tab-pane active" id="settings">
            {{content}}
          </div>
        </div>
        {% if page.image %}
          <div style="width: 100%;display: flex;justify-content: center">
            <div style="max-width: 20rem">
              <img src="./assets/img/{{page.image}}" style="width: 100%">
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
